In [3]:
import pandas as pd
df = pd.read_csv('fulldata.csv')
df.head()

,handle,rating,maxRating,rank,maxRank,friends,contributions,country,city,organization,avatar link
0,nikhithareddy566,477.0,874.0,newbie,newbie,1,0,NaN,NaN,NaN,https://userpic.codeforces.org/no-avatar.jpg
1,obeyarrow1992,404.0,404.0,newbie,newbie,0,0,NaN,NaN,NaN,https://userpic.codeforces.org/no-avatar.jpg
2,jack_100,1372.0,1372.0,pupil,pupil,3,0,NaN,NaN,NaN,https://userpic.codeforces.org/no-avatar.jpg
3,musaleshubham12,839.0,839.0,newbie,newbie,0,0,NaN,NaN,NaN,https://userpic.codeforces.org/no-avatar.jpg
4,CastroMaximo,358.0,358.0,newbie,newbie,0,0,NaN,NaN,NaN,https://userpic.codeforces.org/no-avatar.jpg

In [5]:
df['rank'].value_counts().sum()

np.int64(416061)

In [14]:
df['rating'].sort_values(ascending=False)

385798    3777.0
236042    3756.0
376917    3696.0
296280    3682.0
120961    3647.0
           ...
423875       NaN
423915       NaN
423980       NaN
424008       NaN
424035       NaN
Name: rating, Length: 424061, dtype: float64